BasedOnStyle: LLVM
TabWidth: 4
IndentWidth: 4
---
AccessModifierOffset: '-2'
MaxEmptyLinesToKeep: '2'
AlignConsecutiveAssignments: 'true'
AlignConsecutiveDeclarations: 'true'
AlignOperands: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: Never
AllowShortLambdasOnASingleLine: Inline
AllowShortLoopsOnASingleLine: 'false'
BreakConstructorInitializers: BeforeComma
SpaceAroundPointerQualifiers: Default
PointerAlignment: Left
BinPackArguments: 'true'
BinPackParameters: 'true'
ColumnLimit: '120'
CompactNamespaces: 'true'
FixNamespaceComments: 'true'
IncludeBlocks: Preserve
KeepEmptyLinesAtTheStartOfBlocks: 'true'
Language: Cpp
NamespaceIndentation: None
Standard: c++17
UseTab: Always
