BasedOnStyle: Chromium
TabWidth: 4
IndentWidth: 4
---
Language: Cpp
Standard: Cpp11
ColumnLimit: 100

MaxEmptyLinesToKeep: 2

AccessModifierOffset: -2
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 4

IndentWrappedFunctionNames: true

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlignAfterOpenBracket: true

BreakConstructorInitializersBeforeComma: true
ConstructorInitializerAllOnOneLineOrOnePerLine: false

BinPackParameters: true
BinPackArguments: true
ExperimentalAutoDetectBinPacking: true

BreakBeforeBinaryOperators: All
BreakBeforeTernaryOperators: true

Cpp11BracedListStyle: true

AllowShortFunctionsOnASingleLine: Empty
KeepEmptyLinesAtTheStartOfBlocks: true

UseTab: Never
